<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Users list
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit users</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/users/{$user.PK_ID}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="DS_LOGIN">Login</label>
              <input type="text" class="form-control" id="DS_LOGIN" name="DS_LOGIN" placeholder="Login.."  value="{$user.DS_LOGIN}">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="TG_ADMIN" value="1" {if="$user.TG_ADMIN == 1"}checked{/if}> Administrator access
              </label>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
